*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

                
.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #330066;
  padding: 1%;
  position:static;
  
}

.cabecalho_logo{
width: 50px;
height: 50px;
}

.cabecalho_nome{
  color: #131100;
}



main{
  margin-left: 15px;
}


.lista_menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  padding-top: 1%;
  padding-left: 15%;
}

.itens_menu{
  color: #131100;
  border:solid 1px;
  padding: 10px;
  border-radius: 10px;
}

.itens_menu:hover{
  background-color: #330066;
}

body {
  background:#D9d9d9
}

.conteudo{
 padding-left: 10%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
 align-items: center;
 
}

.conteudo_pricipal{
  display: flex;
  flex-direction: column;
  
}

.conteudo_pricipal_nome{
  margin-top: -10%;
  color: #330066;
}

.conteudo_pricipal_paragrafo1{
  margin-top: 5%;

}

.conteudo_principal2_foto{
  width: 500px;
  height: 550px;
  border-radius: 20px;
  border: solid 3px #131100;
}

.rodape{
  border-top: solid 1px #330066;
  display: flex;
  justify-content: space-around;
 background-color: #D9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.rodape_integrantes{
  list-style: none;
  color: #330066;
}

.rodape_redes{
  color: #131100;
}







